.main{
    background-color: black;
    width: 400px;
    height: 500px;
    margin-left: 500px;
    border: 4px solid palevioletred;
    border-radius: 20px;
    margin-top: 70px;
}
.Use h1{
    color: antiquewhite;
    margin-left: 45px;
    padding-top: 30px;
}
.Use input{
    width: 190px;
    margin-left: 95px;
    height: 40px;
    background-color: rgb(82, 77, 77);
    color: white;
    font-size: 20px;
    font-weight: bold;
    border: none;
    padding-left: 20px;

}
.btn-s{
    margin-left: 95px;
}
div .btn{
    /* width: 70px; */
    border: none;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    font-size: 20px;
    font-weight: bold;
    background-color: rgb(82, 77, 77);
    color: white;

}
div .btn:hover{
    background-color: gray;
}
#equal{
    background-color:rgb(46, 187, 46);
    /* border: none;
    border-radius: 50%;
    width: 50px; */
    /* margin-left: 10px; */
    /* margin-top: 5px; */
}
.row{
    margin-top:5px ;
}